<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shipper.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @shipper.url %>
</p>

<%= link_to 'Edit', edit_shipper_path(@shipper) %> |
<%= link_to 'Back', shippers_path %>
