<!DOCTYPE html>
<html>
  <head>
    <title>Pepperfarm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Sign In", new_user_session_path %>
    <nav id="main_nav">
      <ul>
      <%= link_to new_user_session_path do 
            content_tag :ul, "Sign In", class: :ber_class
          end %>
      </ul>
    </nav>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
