<!DOCTYPE html>
<html>
  <head>
    <title>Pepperfarm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <span class="title">Pepper<%= image_tag 'peppers.png', height: 40 %>Farm</span>
        <ul class="login">
          <%= content_tag :li do 
            link_to 'Shop', :shop
          end %>
          <%= render '/devise/menu/login_items' %>
        </ul>
      </nav>
    </header>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
